body{
    margin: 0;
 }
 
 .main{
    height: 500px
}



.main-navigation-logo{
    float: left;
    padding: 2px 20px 0px 20px;
    text-decoration: none;
  
  }
  h2{
      color:white;
  }
  .main-navigation-ul {
      font-family: 'Archivo', sans-serif;
      padding: 0px 10px;
      z-index:1;
      margin: 0 auto;
      list-style-type: none;
      top: 0;
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0,0.8);
  }
  
  .main-navigation-li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  .main-navigation-li:hover:not(.active) {
    background-color:#2377d4;
  }
  
  .active {
    background-color: #195393;
  }
  
  
  .navigation-bar{
      display: block;
  }


  .footer{
	float: right;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color:#FFF;
	margin:0;
	background-color: rgba(0, 0, 0,0.8);
}
.footer-content{/* footer main div css */
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

 a {
	text-decoration: none;
	color: #A5A5A5;
}
 a:hover {/* all anchors on hover */
	text-decoration: none;
	color: white;
}
.text-left{
	text-align: left ;
}

.footer-img{
	text-align: center;
	width: 35%;
}
.footer-navigation{
	margin-left: 1px;
	margin-right: 1px;
	width: 15%;
}

.footer-hr{
	color: white;
	background-color: white;
	height: 1px;
	width: 95%;
}

.page-credits{/* page credits section */
	text-align: center;
	margin-bottom: 0;
}

