body{
    margin: 0;
 }
 
 .main{
    height: 800px
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #7372727c 0%, #0819d972 76%);
}

.glass-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 800px;
  height: 550px;
  border-radius: 20px;
  margin-top: 150px;
  background: linear-gradient(
    25.6deg,
    rgba(115, 114, 114, 0.397) 28.69%,
    rgba(87, 86, 86, 0.271) 100%
  );
  box-shadow: 0 0 20px 10px rgba(182, 182, 182, 0.1);
}

.about-us-title{
  text-align: center;
  font-size:40px;
  color:white;
}

.about-content{
  text-align: center;
  font-size:25px;
  color:white;
}

/* nav bar */
.main-navigation-logo{
    float: left;
    padding: 2px 20px 0px 20px;
    text-decoration: none;
  
  }
  h2{
      color:white;
  }
  .main-navigation-ul {
      font-family: 'Archivo', sans-serif;
      padding: 0px 10px;
      z-index:1;
      margin: 0 auto;
      list-style-type: none;
      top: 0;
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0,0.8);
  }
  
  .main-navigation-li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  .main-navigation-li:hover:not(.active) {
    background-color:#2377d4;
  }
  
  .active {
    background-color: #195393;
  }
  
  
  .navigation-bar{
      display: block;
  }


  /* footer */

  .footer{
	float: right;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color:#FFF;
	margin:0;
	background-color: rgba(0, 0, 0,0.8);
}
.footer-content{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

 a {
	text-decoration: none;
	color: #A5A5A5;
}
 a:hover {
	text-decoration: none;
	color: white;
}
.text-left{
	text-align: left ;
}

.footer-img{
	text-align: center;
	width: 35%;
}
.footer-navigation{
	margin-left: 1px;
	margin-right: 1px;
	width: 15%;
}

.footer-hr{
	color: white;
	background-color: white;
	height: 1px;
	width: 95%;
}

.page-credits{
	text-align: center;
	margin-bottom: 0;
}

