body{
    margin: 0;
 }


 .main{
    height: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #d8cecec0 0%, #df38b34c 76%);
}

.contact-glass-container{
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 900px;
  height: 600px;
  border-radius: 20px;
  background: linear-gradient(
    25.6deg,
    rgba(189, 133, 196, 0.447) 28.69%,
    rgba(166, 49, 164, 0.362) 100%
  );
  box-shadow: 0 0 20px 10px rgba(108, 107, 107, 0.604);
  margin-top: 120px;
  margin-bottom: 20px;
}

.contact-us-title{
  font-size:40px;
  text-align: center;
}

.contact-details-holder{
  display: flex; 
  flex-direction: column; 
  align-items: center
}


.l_label {
  display: flex;
  width: 500px;
  margin-bottom: 5px;
  z-index: 100;
  font-size: 30px;
}

.form-holder{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.field-size{
  width: 490px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.curve-border{
  border-radius: 20px;
}


.submit-button{
  width: 80px;
  height: 30px;
  background-color:grey;
  color:#FFF;
}

.submit-button:hover{
  width: 80px;
  height: 30px;
  background-color:rgb(234, 242, 0);
  color:#000;
}

.contact-hr{
  margin-top:10px;
  width:90%;
  height:2px;
  color: #000;
  background-color: rgb(0, 0, 0)
}


 /* nav bar */
.main-navigation-logo{
    float: left;
    padding: 2px 20px 0px 20px;
    text-decoration: none;
  
  }
  h2{
      color:white;
  }
  .main-navigation-ul {
      font-family: 'Archivo', sans-serif;
      padding: 0px 10px;
      z-index:1;
      margin: 0 auto;
      list-style-type: none;
      top: 0;
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0,0.8);
  }
  
  .main-navigation-li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  .main-navigation-li:hover:not(.active) {
    background-color:#2377d4;
  }
  
  .active {
    background-color: #195393;
  }
  
  
  .navigation-bar{
      display: block;
  }

.button-submit{
  margin-top: 20px;
  display:flex;
  flex-direction: row;
  justify-content:center;
}


.submit_button{
  font-size: 20px;
  color: white;
  padding: 0px 20px 0px 20px;
  background: #5c5c5c;
  box-shadow: 6px 4px 14px #a3b1c6, -9px -9px 16px #ffffff;
  border-radius: 37px;
}


.reachus-topic{
  color: #000;
  font-size:35px;
  text-align:center;
}

.tel-row{
  display:flex;
  flex-direction: row;
  justify-content:space-between
}

.email-col{
  display:flex;
  flex-direction: column;
  justify-content:space-between
}
.contact-img{
  margin-top:20px;
  margin-right:10px;
  margin-left: 50px;
  height:60px
}


.email-img{
  margin-top:20px;
  margin-right:10px;
  height:60px;
  width:60px;
  margin-left: 100px;

}
.tel-details{
  padding:0;
}

/* footer */

  .footer{
	float: right;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color:#FFF;
	margin:0;
	background-color: rgba(0, 0, 0,0.8);
}
.footer-content{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

 a {
	text-decoration: none;
	color: #A5A5A5;
}
 a:hover {
	text-decoration: none;
	color: white;
}
.text-left{
	text-align: left ;
}

.footer-img{
	text-align: center;
	width: 35%;
}
.footer-navigation{
	margin-left: 1px;
	margin-right: 1px;
	width: 15%;
}

.footer-hr{
	color: white;
	background-color: white;
	height: 1px;
	width: 95%;
}

.page-credits{
	text-align: center;
	margin-bottom: 0;
}

  