 body{
    margin: 0;
 }



 /* nav bar */
.main-navigation-logo{
    float: left;
    padding: 2px 20px 0px 20px;
    text-decoration: none;
  
  }
  h2{
      color:white;
  }
  .main-navigation-ul {
      font-family: 'Archivo', sans-serif;
      padding: 0px 10px;
      z-index:1;
      margin: 0 auto;
      list-style-type: none;
      top: 0;
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0,0.8);
  }
  
  .main-navigation-li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  .main-navigation-li:hover:not(.active) {
    background-color:#2377d4;
  }
  
  .active {
    background-color: #195393;
  }
  
  .navigation-bar{
      display: block;
  }



.main{
    display:flex;
    flex-direction:column;
    height: 1500px;

}


.main-img{
    align-items:center;
    margin-top: 50px ;
    margin-left: 290px;
    width:60%;
    display:flex;
    flex-direction:column;

}

.card-topic{
    padding-top: 20px;
    color: #000;
    text-align: center;
    font-size:40px;
}

.card-holder{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly    
}

.glass-card{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 450px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(
      25.6deg,
      rgba(155, 158, 186, 0.447) 28.69%,
      rgba(37, 28, 28, 0) 100%
    );
    box-shadow: 0 0 20px 10px rgba(94, 93, 93, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.glass-card:hover{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 475px;
    height: 525px;
    border-radius: 20px;
    background: linear-gradient(
      25.6deg,
      rgba(155, 158, 186, 0.447) 28.69%,
      rgba(37, 28, 28, 0) 100%
    );
    box-shadow: 0 0 20px 10px rgba(94, 93, 93, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-img{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.card-img:hover{
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}
.card-title{
    color: #000;
    text-align: center;
    font-size:30px;
}

.card-title:hover{
    color: #000;
    text-align: center;
    font-size:35px;
}

.extra-margin{
    margin-top:65px;
    margin-left: 120px;
}


.glass-card-title{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 200px;
    height: 80px;
    border-radius: 20px;
    background: linear-gradient(
      25.6deg,
      rgba(155, 158, 186, 0.447) 28.69%,
      rgba(37, 28, 28, 0) 100%
    );
    box-shadow: 0 0 20px 10px rgba(94, 93, 93, 0.1);

}

.glass-card-title-position{
    margin-top:40px;
    margin-left: 120px;
}

/* footer */
.footer{
	float: right;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	color:#FFF;
	margin:0;
	background-color: rgba(0, 0, 0,0.8);
}
.footer-content{/* footer main div css */
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

 a {
	text-decoration: none;
	color: #A5A5A5;
}
 a:hover {/* all anchors on hover */
	text-decoration: none;
	color: white;
}
.text-left{
	text-align: left ;
}

.footer-img{
	text-align: center;
	width: 35%;
}
.footer-navigation{
	margin-left: 1px;
	margin-right: 1px;
	width: 15%;
}

.footer-hr{
	color: white;
	background-color: white;
	height: 1px;
	width: 95%;
}

.page-credits{/* page credits section */
	text-align: center;
	margin-bottom: 0;
}

